<div class='row'>
  {{#each model as |tag|}}
    {{tag-card tag}}
  {{/each}}
</div>
<ul class="pagination">
   <li class="{{if (lt page 2) 'disabled'}}"><a href="#/?page={{if (lt page 2) 1 (decrement page)}}"><i class="material-icons">chevron_left</i></a></li>
   <li
      style='position:absolute;right: 0'
      class="{{unless model 'disabled'}} waves-effect">
    <a href="#/?page={{unless model page (increment page)}}">
      <i class="material-icons">chevron_right</i>
    </a>
   </li>
 </ul>
