<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src={{commit.author.avatar_url}}>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <a href={{concat "https://github.com/DankIdeaCentral/migrate-app/tree/" tag.name}}>{{tag.name}}</a>
      <i class="material-icons right">more_vert</i></span>
    <p>
      <a class='btn btn-flat waves-effect waves-light' href={{concat "https://github.com/DankIdeaCentral/migrate-app/releases/download/" tag.name "/release.apk"}}>
        Download
      </a>
      <a class='btn btn-flat waves-effect waves-light' style='float:right' href={{commit.html_url}}>Changes</a>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
      <a href={{concat "https://github.com/DankIdeaCentral/migrate-app/tree/" tag.name}}>{{tag.name}}</a>
      <i class="material-icons right">close</i></span>
    {{ember-chart
      type='doughnut'
      width=125
      height=125
      data=(hash
        labels=(array
          "Additions"
          "Deletions"
        )
        datasets=(array
          (hash
            data=(array
              commit.stats.additions
              commit.stats.deletions
            )
            backgroundColor=(array
              "#36A2EB"
              "#FF6384"
            )
          )
        )
      )
    }}
    <p style='position: absolute; bottom: 0;'>
      <h6>Message:</h6>
      {{commit.commit.message}}
    </p>
  </div>
</div>
