<div class='row'>
  {{#each repos as |repo|}}
    <div class='col l4 m6 s12'>
      {{#md-card
        title=repo.name
        activator=true
      }}
        {{#md-card-content}}
            {{#if repo.homepage}}
                <a href='{{repo.homepage}}'>Demo</a>
              {{else}}
                Demo not available
            {{/if}}
        {{/md-card-content}}

        {{#md-card-reveal}}
            Stargazers: {{repo.stargazers_count}}
            Forks: {{repo.forks_count}}
            {{#if repo.description}}
              {{description}}
            {{/if}}
        {{/md-card-reveal}}
      {{/md-card}}
    </div>
  {{/each}}
</div>
{{md-pagination min=1 max=100 current=page range=3}}
